.square {
    background-color: rgb(255, 255, 255);
    width: 30px;
     height: 30px;
     margin: 2px;
     border: 2px solid black;
}

.occupied {
    background-color: rgb(255, 0, 0);
}

.row {
    display:flex;
}